# Specific to this project
QtDock


# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
*.moc
Makefile
*-build-*
*_automoc.cpp*

#CMake stuff
CMakeFiles
CMakeTmp
lib
CMakeCache.txt
*.cmake
