[Desktop Entry]
Name=DockbarTest
Comment=Trying to make a dockbar for KDE4
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_dockbartest
X-KDE-PluginInfo-Name=dockbartest
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Author=Sebastian Wahl
X-KDE-PluginInfo-Email=spillerrec@hotmail.com
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
